/* ----- FONTS ----- */
@font-face {
  font-family: "Fraunces";
  src: url("../fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("../fonts/dm-mono/DMMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("../fonts/dm-mono/DMMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ----- VARIABLES ----- */
:root {
  /* COLORS */
  /* Neutral */
  --neutral900: hsl(33deg, 15%, 15%);
  --neutral800: hsl(33deg, 22%, 20%);
  --neutral700: hsl(32deg, 20%, 29%);
  --neutral600: hsl(33deg, 17%, 41%);
  --neutral400: hsl(36deg, 22%, 86%);
  --neutral200: hsl(30deg, 24%, 93%);
  --neutral100: hsl(35deg, 60%, 96%);
  --neutral50: hsl(40deg, 60%, 98%);
  --neutral0: hsl(0deg, 0%, 100%);
  /* Sun */
  --sun500: hsl(42deg, 83%, 58%);
  --sun300: hsl(44deg, 84%, 75%);
  --sun200: hsl(45deg, 100%, 74%);
  --sun50: hsl(41deg, 100%, 93%);
  /* Terracota */
  --terracotta700: hsl(15deg, 69%, 37%);
  --terracotta600: hsl(15deg, 74%, 41%);
  --terracotta500: hsl(18deg, 62%, 47%);
  --terracotta400: hsl(22deg, 72%, 56%);
  /* Blue */
  --blue500: hsl(230deg, 49%, 56%);
  /* Rose */
  --rose500: hsl(340deg, 48%, 52%);
  /* SHADOW */
  --info-card-shadow:
    hsla(0deg, 0%, 0%, 0.02) 0px 1px 3px 0px,
    hsla(210deg, 13%, 12%, 0.15) 0px 0px 0px 1px;
  --current-link-shadow: color-mix(in srgb, var(--neutral900) 20%, transparent)
    0px 0px 1px 0px;
  --note-shadow: color-mix(in srgb, var(--terracotta400) 80%, transparent) 0px
    0px 18px;
  --ticket-shadow: color-mix(in srgb, var(--neutral900) 10%, transparent) 0px
    0px 18px;
  /* ANIMATIONS */
  --anim-duration-normal: 0.3s;
  --anim-duration-medium: 0.4s;
}

/* ----- RESET ----- */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--neutral100);
  color: var(--neutral900);
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;

  &:has(.sidebar[data-state="active"]) {
    overflow: hidden;
  }
}

:focus-visible {
  outline-color: var(--terracotta700);
  outline-offset: 0.5ch;
}

/* ----- UTILITIES ----- */
.tiny {
  font-size: 0.725rem;
}

.small {
  font-size: 0.785rem;
}

.upper {
  text-transform: uppercase;
  letter-spacing: 0.15ch;
}

.text-muted {
  color: color-mix(in srgb, currentColor 70%, transparent);
  font-weight: inherit;
}

.to-bottom {
  margin-block-start: auto;
}

.d-block {
  display: block;
}

.container {
  padding-inline: clamp(1rem, 1vw + 0.5rem, 1.75rem);
  padding-block: 1.25rem;
}

.grid {
  display: grid;
  align-items: start;
  grid-template-areas:
    "header"
    "main";
}

/* ----- COMPONENTS ----- */
.btn {
  cursor: pointer;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 28px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 600;
  transition: background-color var(--anim-duration-normal) ease-in-out;
  width: 100%;
}

.btn[data-variant="primary"] {
  background-color: transparent;
  border-color: var(--neutral400);

  &:hover {
    background-color: var(--neutral200);
  }
}

.btn[data-variant="secondary"] {
  background-color: var(--neutral900);
  color: var(--neutral400);

  &:hover {
    background-color: var(--neutral800);
  }
}

.btn[data-variant="compact"] {
  padding-block: 0.25em;
  padding-inline: 0.5em;
  font-size: 0.625rem;
  width: fit-content;
  border-color: var(--neutral400);

  &:hover {
    background-color: var(--neutral400);
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding-inline: 1.75rem;
  padding-block: 2rem;
  border-radius: 16px;
}

/* ----- MAIN ----- */
.main {
  grid-area: main;
}

/* ----- HEADER ----- */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--neutral400);
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--neutral100);
}

.header__img {
  max-width: 100%;
  object-fit: cover;
}

.header__btn {
  padding-inline: 0.25rem;
  padding-block: 0.25rem;
  background-color: transparent;
  border: 1px solid var(--neutral400);
  display: flex;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

/* ----- SIDEBAR ----- */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  padding-block: 1rem;
  min-height: 94vh;
  position: absolute;
  z-index: 4;
  top: 4.6875rem;
  left: 0;
  right: 0;
  background-color: var(--neutral100);
  translate: -100% 0;
  transition: translate var(--anim-duration-normal) ease-out;
}

.sidebar[data-state="active"] {
  translate: 0 0;
}

.sidebar__footer {
  border-top: 1px dashed var(--neutral400);
  padding-block: 1rem;
  display: grid;
  gap: 0.75rem;
  font-family: "DM Mono", sans-serif;
}

/* ----- MENU ----- */
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style-type: none;
}

.menu__link-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.menu__link {
  color: inherit;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  transition: background-color var(--anim-duration-normal) ease-in-out;
}

.menu__link:is([data-state="current"], :hover) {
  background-color: var(--neutral0);
  box-shadow: var(--current-link-shadow);
  border-radius: 6px;
  font-weight: 500;
}

.menu__marker {
  width: 1rem;
  font-size: 0.75em;
  font-family: "Fraunces", sans-serif;
  font-weight: 400;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  flex-shrink: 0;
  display: grid;
  place-content: center;
  background-color: var(--terracotta700);
  color: var(--neutral0);
}

/* ----- WEATHER ----- */
.weather {
  background-color: var(--sun300);
  display: grid;
  position: relative;
  gap: 0.25rem;
  border-radius: 16px;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  overflow: hidden;
  margin-block: 0 1.25rem;
}

.weather__today {
  font-family: "DM Mono", sans-serif;
}

.weather__weather {
  font-family: "Fraunces", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.weather__sun {
  position: absolute;
  right: -2.5%;
  top: -25%;
}

/* ----- BOOKING SECTION ----- */
.booking {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-block: 0 1rem;
}

.booking__header {
  flex: 1 0;
}

.booking__confirmed {
  word-spacing: 0.5rem;
}

.booking__title {
  font-family: "Fraunces", sans-serif;
  font-size: 2.25rem;
}

.booking__strong {
  color: var(--terracotta700);
}

.booking__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1 0;
  width: 100%;
  max-width: 22rem;
}

/* ----- BOOKING CARDS ----- */
.booking-cards {
  padding-block: 2.25rem;
  margin-block: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  position: relative;
  overflow-x: hidden;
}

.booking-cards__card {
  max-width: 22rem;
  transition:
    translate var(--anim-duration-normal) ease-in-out,
    rotate var(--anim-duration-normal) ease-in-out;
}

.booking-cards__fan {
  position: absolute;
  display: none;
  bottom: 0;

  &::before,
  &::after {
    content: "";
    background: url("../images/icon-sparkle.svg") no-repeat center;
    display: inline-flex;
    padding-inline: 0.75rem;
  }
}

.booking-cards__ilustration {
  position: absolute;
  width: fit-content;
  top: 35%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--anim-duration-medium) ease-in-out,
    visibility var(--anim-duration-medium) ease-in-out,
    translate var(--anim-duration-medium) ease-in-out;
}
/* ----- NOTE ----- */
.note {
  background: linear-gradient(
    to left bottom,
    var(--terracotta400),
    var(--terracotta700)
  );
  color: var(--neutral0);

  rotate: 2deg;
  box-shadow: var(--note-shadow);
  z-index: 2;
}

.note::before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  border-top: 1px dashed var(--terracotta400);
  background-clip: border-box;
  margin-block: 0 1.25rem;
}

.note__header {
  display: flex;
  justify-content: space-between;
  margin-block: 0 1.25rem;
}

.note__title {
  font-style: italic;
  font-family: "Fraunces", sans-serif;
  margin-block: 0 2rem;
}

.note__host {
  color: var(--sun300);
  margin-block: 0 0.25rem;
}

.note__strong {
  font-size: 2.5rem;
}

.note__description {
  line-height: 1.5;
  margin-block: 0 4.5rem;
}

.note__room {
  margin-block: 0 0.25rem;
}

.note__end-text {
  font-size: 1.25rem;
  font-family: "Fraunces", sans-serif;
}

/* ----- TICKET ----- */
.ticket {
  background-color: var(--neutral100);
  rotate: -2deg;
  box-shadow: var(--ticket-shadow);
  padding-block-end: 1rem;
}

.ticket__header {
  display: flex;
  justify-content: space-between;
  margin-block: 0 1rem;
  padding-block: 0 0.75rem;
  border-bottom: 1px dashed var(--neutral400);
}

.ticket__title-container {
  display: grid;
  gap: 0.25rem;
}

.ticket__title {
  font-family: "Fraunces", sans-serif;
  font-weight: 400;
}

.ticket__code {
  text-align: right;
  font-family: "DM Mono", sans-serif;
}

.ticket__checks {
  display: flex;
  justify-content: space-between;
  margin-block: 0 1rem;
  padding-block: 0 0.75rem;
  border-bottom: 1px dashed var(--neutral400);
}

.ticket__check {
  text-align: center;
}

.ticket__check-title {
  margin-block: 0 0.25rem;
}

.ticket__date {
  display: block;
}

.ticket__month {
  margin-block: 0 0.25rem;
  font-size: 2.25rem;
  font-family: "Fraunces", sans-serif;
}

.ticket__list {
  list-style-type: none;
  display: grid;
  gap: 0.5rem;
  padding-block: 0 1rem;
  margin-block: 0 1.25rem;
  border-bottom: 1px solid var(--neutral800);
}

.ticket__item {
  display: flex;
  justify-content: space-between;
}

.ticket__price {
  font-family: "DM Mono", sans-serif;
}

.ticket__footer {
  display: grid;
  gap: 1.5rem;
}

.ticket__total {
  font-family: "Fraunces", sans-serif;
  font-size: 1.5rem;
}

/* ----- INFO CARDS ----- */
.info-cards {
  gap: clamp(1rem, 1vw + 0.5rem, 2rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  --header-color: var(--neutral900); /* default */
  box-shadow: var(--info-card-shadow);
  flex: 1;
  padding-block: 1rem;
  padding-inline: 1.25rem;
  max-width: 24rem;
}

.info[data-variant="arrival"] {
  --header-color: var(--terracotta600);
}

.info[data-variant="wifi"] {
  --header-color: var(--blue500);
}

.info[data-variant="breakfast"] {
  --header-color: var(--rose500);
}

.info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0 1.25rem;
  color: var(--header-color);
}

.info__badge {
  background-color: currentColor;
  width: 2.25rem;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  border-radius: 6px;
}

.info__theme-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info__theme {
  font-weight: 600;
}

.info__number {
  color: currentColor;
  font-size: 1.5rem;
  font-family: "Fraunces", sans-serif;
}

.info__title {
  font-family: "Fraunces", sans-serif;
  margin-block: 0 0.5rem;
}

.info__subtitle {
  margin-block: 0 0.75rem;
}

.info__rows {
  display: grid;
  gap: 0.25rem;
}

.info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral200);
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 6px;
}

.info__password {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* TOAST */
.toast {
  background: linear-gradient(
    to left bottom,
    var(--blue500),
    color-mix(in srgb, var(--blue500) 85%, transparent)
  );
  position: sticky;
  bottom: 0;
  right: 0;
  color: var(--neutral0);
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  border-radius: 7px;
  padding-inline: 2rem;
  padding-block: 1.25rem;
  margin-inline: 1rem;
  margin-block: 1rem;
}

.toast[data-state="active"] {
  opacity: 1;
  visibility: visible;
}

/* ----- MEDIA QUERIES ----- */
@media (width >= 42rem) {
  .booking-cards {
    flex-direction: row-reverse;
  }
}

@media (width >= 68rem) {
  .header {
    border-bottom: none;
    border-right: 1px solid var(--neutral400);
    background-image: linear-gradient(var(--neutral400), var(--neutral400));
    background-size: 89.6875% 1px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .sidebar {
    translate: 0;
    max-width: 20rem;
    position: static;
    border-right: 1px solid var(--neutral400);
  }

  .btn {
    width: fit-content;
  }

  .grid {
    grid-template-columns: 20rem 1fr;
    grid-template-areas:
      "header  main"
      "sidebar main";
  }

  .main {
    margin-block: clamp(1rem, 1vw + 0.5rem, 1.75rem) 0;
  }

  .note,
  .ticket {
    max-width: 25rem;
    flex: 1;
  }

  .note {
    rotate: 4deg;
    translate: -4%;
  }

  .ticket {
    rotate: -4deg;
    translate: 4%;
  }

  .header__btn {
    display: none;
  }

  .booking-cards__fan {
    display: flex;
  }

  .booking-cards {
    cursor: pointer;
  }

  .booking-cards:hover .note {
    translate: 20%;
    rotate: -4deg;
  }

  .booking-cards:hover .ticket {
    translate: -20%;
    rotate: 4deg;
  }

  .booking-cards:hover .booking-cards__ilustration {
    opacity: 1;
    visibility: visible;
    translate: 0 -5.25%;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --anim-duration-normal: 0s;
    --anim-duration-medium: 0s;
  }
}
